{% extends "base.html.twig" %}
{% block title %} {{ parent() }} A propos {% endblock %}
{% block contenu %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center mb-4">À Propos de PC HEAVEN</h2>

                <p>Bienvenue sur PC HEAVEN, votre destination ultime pour les passionnés d'informatique et de
                    technologie. Nous nous efforçons de fournir les dernières informations, critiques et guides pour
                    vous aider à explorer le monde fascinant de l'informatique.</p>

                <p>Notre équipe dévouée est composée d'experts passionnés par les composants PC, les dernières
                    technologies, les jeux vidéo et bien plus encore. Que vous soyez un amateur débutant ou un
                    professionnel chevronné, PC HEAVEN est votre guichet unique pour des informations fiables et des
                    conseils utiles.</p>

                <h4>Nos Objectifs :</h4>
                <ul>
                    <li>Fournir des services d'achat et de livraison de produits informatiques.</li>
                    <li>A terme, de pouvoir proposer à l'utilisateur de composer lui-même son PC.</li>
                </ul>

                <p>Nous sommes ravis de partager notre passion pour la technologie avec vous et de vous accompagner
                    tout au long de votre parcours informatique. Explorez nos articles, posez des questions et
                    découvrez les dernières nouvelles de PC HEAVEN.</p>

                <p class="text-muted mt-4">Merci de faire partie de notre communauté !</p>
            </div>
        </div>
    </div>
    
{% endblock %}