{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Liste des produits {% endblock %}
{% block contenu %}
    <table class="table table-hover table-striped">
        <tr><th>Désignation</th><th></th><th></th><th></th></tr>
        {% for p in liste %}
            <tr><td>{{p.nomProduit}}</td></tr>
        {% endfor %}
    </table>
    
{% endblock %}